<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>muTask</h1>
    <p> - a communications tool for remote workers.</p1>
    <script>
      var ws = false;

      /*
      document.addEventListener('keydown', function(event) {
        console.log(event);
        if (ws) {
          if (event.key === 'x') ws.write({'key':'x'});
        }
      });
      */

      setInterval(function() {
        if (ws) return; // already open
        var ws_url = (location.protocol === 'https:' ? 'wss://' : 'ws://') + location.host;
        ws = new WebSocket(ws_url);
        ws.write = function(ob) {
          console.log('sending', ob);
          ws.send(JSON.stringify(ob));
        }
        ws.onopen = function(event) {
          console.log('websocket opened');
          ws.write({connect:true}});
          ws.onclose = function(event) {
            console.warn('websocket close:', event);
            ws = false;
          }
          ws.onmessage = function(message) {
            console.log('websocket message:', message);
          }
        }
        ws.onerror = function(err) {
          console.error('websocket error:', err);
          ws = false;
        }
      }, 1000);
    </script>
  </body>
</html>
